<html>
    <head>
        <title>React Hello World</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    </head>
    <body>
        <div id="root"></div>
        <script src="/bundle.js"></script>
        <link rel="stylesheet" type="text/css" href="/app.css">
    </body>
</html>