* { margin: 0; padding: 0; box-sizing: border-box; }
body { font-family: 'Roboto', sans-serif; font-size: 18px}


.title {
    font-size: 30px;
    font-weight: 500;
    margin:0 auto;
    width: 500px;
    text-align: center;
    vertical-align: middle;
}

.alerts {
    width: 35vh;
    height: 100vh;
    overflow-y: auto;
}

.container {
    display: flex
}